<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Blg1G-ePMrSthUsyTtTTK1_ZoV_LmS_B9X1naG40TTcn3cyV6gXd8kasIPs71TcvK9_HAnSNgbIl1qwS-RrbxWmTb78aXBbq7iGVHKs1aWY" charset="UTF-8"></script></head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background: #A8A8A8;">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Pet project E-market</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О нас</a></li>
                    </ul>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">Каталог</button>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                    <li><a href="{{ category.url }}"> {{ category.name }} ({{ category.count }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    <a class="navbar-brand" href="{% url 'cart' %}">
                        <button class="btn btn-outline-dark">
                            <span class="bi-cart-fill me-1">Корзина</span>

                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.products.count }}</span>
                        </button>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Section-->
        {% block content %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show text-center" style="margin-left: 20%; margin-right: 20%;" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <section class="py-5">
            {% for product in products %}
            <div class='product_info' style="display: inline-block; text-align: center; padding: 10px 0; margin: 0 10px 20px 20px; max-width: 80%; margin-left: 12%;">
                <img class="card-img-top" style="width: 200px;" src="{{ product.image.url }}" alt="..." />
                <h5>{{ product.title }}</h5>
                {{product.price }} руб.
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Подробнее</a></div>
                    <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                        <button class="btn btn-danger" style="margin-top: 10px; margin-left: 5px; margin-right: 5px;">Добавить в корзину</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
        {% endblock content %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
      <!-- Core theme JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
