{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center" style="margin-left: 20%; margin-right: 20%;" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if cart.products.count %}
    <table class="table text-center" style="max-width: 80%; margin-left: 10%;">
      <thead>
        <tr>
            <th scope="col">Наименование товара</th>
            <th scope="col">Изображение</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Общая цена</th>
            <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.products.all %}
            <tr>
                <th scope="row">{{ item.content_object.title }}</th>
                <td class="w-25"><img src="{{ item.content_object.image.url }}" width="300" height="200" class="img-fluid"></td>
                <td>{{ item.content_object.price }} руб.</td>
                <td>
                    <form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug  %}" method="POST">
                        {% csrf_token %}
                        <input type="number" class="form-control" name="qty" style="width: 70px;" min="1" value="{{ item.qty }}">
                        <br>
                        <input type="submit" class="btn btn-primary" value="Изменить количество">
                    </form>
                </td>
                <td>{{ item.final_price }} руб.</td>
                <td>
                    <a href="{%  url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-danger">Удалить из корзины</button></a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>Итого:</td>
                <td>{{ cart.total_products }}</td>
                <td><strong>{{ cart.final_price }} руб.</strong></td>
                <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти к оформлению</button></a></td>
            </tr>
      </tbody>
    </table>
    {% endif %}
{% endblock content %}
