{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb" style="margin-left: 20px">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
      </ol>
    </nav>

<section class="py-5">
    {% for product in category_products %}
    <div class='product_info' style="display: inline-block; text-align: center; padding: 10px 0; margin: 0 10px 20px 20px; max-width: 80%; margin-left: 12%;">
        <img class="card-img-top" style="width: 200px;" src="{{ product.image.url }}" alt="..." />
        <h5>{{ product.title }}</h5>
        {{product.price }} руб.
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Подробнее</a></div>
            <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                <button class="btn btn-danger" style="margin-top: 10px; margin-left: 5px; margin-right: 5px;">Добавить в корзину</button>
            </a>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content %}