{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
<table class="table text-center" style="max-width: 80%; margin-left: 10%;">
    <thead>
        <tr>
            <th scope="col">Наименование товара</th>
            <th scope="col">Изображение</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.products.all %}
            <tr>
                <th scope="row">{{ item.content_object.title }}</th>
                <td class="w-25"><img src="{{ item.content_object.image.url }}" width="300" height="200" class="img-fluid"></td>
                <td>{{ item.content_object.price }} руб.</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.final_price }} руб.</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>Итого:</td>
                <td>{{ cart.total_products }}</td>
                <td><strong>{{ cart.final_price }} руб.</strong></td>
            </tr>
    </tbody>
</table>
<hr>
<h3 class="text-center mt-5 mb-5" style="max-width: 80%; margin-left: 10%;"> Форма заказа</h3>
<form action="{% url 'make-order' %}" method="POST">
    <div class="text-left" style="max-width: 80%; margin-left: 10%; margin-bottom: 30px;">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ">
    </div>
</form>
{% endblock content %}