{% extends 'base.html' %}
{% load specifications %}

{% block content %}

    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb" style="margin-left: 20px">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
      </ol>
    </nav>

<div class="row" style="margin-left: 20px">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" width="300" height="200" class="image-fluid">
    </div>
    <div class="col-md-7" style="text-align: justify">
        <h3>{{ product.title }}</h3>
        <p>Цена: {{ product.price }} руб.</p>
        <p>Описание: {{ product.description }}</p>
        <hr>
        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
    </div>
    <p class="mt-4"> Характеристики: </p>

    {{ product|product_spec }}

</div>

{% endblock content %}